<a href="https://colab.research.google.com/github/PranavkrishnaVadhyar/Pandas/blob/main/Demo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install pandas

In [ ]:
pip install numpy

In [ ]:
import pandas as pd
import numpy as np

In [13]:
s = pd.Series([1,2,3,4,5,6,np.nan,8,9,10])

In [14]:
s

0     1.0
1     2.0
2     3.0
3     4.0
4     5.0
5     6.0
6     NaN
7     8.0
8     9.0
9    10.0
dtype: float64

In [15]:
d = pd.date_range('20200301', periods=10) #Gives a date range till 10th

In [ ]:
d

In [19]:
df = pd.DataFrame(np.random.randn(10,4), index=d,columns=['A','B','C','D'])

In [20]:
df

                   A         B         C         D
2020-03-01  1.666051 -0.269988  0.375978 -0.219727
2020-03-02  0.696570  0.733652  0.844749 -1.562694
2020-03-03  0.386945  0.190467 -0.143434 -0.884900
2020-03-04  1.538285 -0.997767 -0.484190  0.219387
2020-03-05 -0.733372 -0.514566  0.909381  0.606322
2020-03-06 -0.098671  0.066375  1.214464 -0.146955
2020-03-07 -0.181388 -0.787983 -0.984999  0.749194
2020-03-08 -0.837365  1.312181 -1.334391 -0.030484
2020-03-09  0.645337 -1.027527 -2.220095 -1.361930
2020-03-10  0.868616  0.130687 -1.306779  0.774071

In [ ]:
df = pd.DataFrame({'A':[1,2,3,4]},
                  'B':pd.Timestamp('20200301'),
                  'C':pd.Series(1,index=list(range(4))  ))