<a href="https://colab.research.google.com/github/PranavkrishnaVadhyar/Pandas/blob/main/Demo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [69]:
pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [70]:
pip install numpy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (1.22.4)

In [71]:
import pandas as pd
import numpy as np

In [72]:
s = pd.Series([1,2,3,4,5,6,np.nan,8,9,10])

In [73]:
s

0     1.0
1     2.0
2     3.0
3     4.0
4     5.0
5     6.0
6     NaN
7     8.0
8     9.0
9    10.0
dtype: float64

In [74]:
d = pd.date_range('20200301', periods=10) #Gives a date range till 10th

In [75]:
d

DatetimeIndex(['2020-03-01', '2020-03-02', '2020-03-03', '2020-03-04',
               '2020-03-05', '2020-03-06', '2020-03-07', '2020-03-08',
               '2020-03-09', '2020-03-10'],
              dtype='datetime64[ns]', freq='D')

In [76]:
df = pd.DataFrame(np.random.randn(10,4), index=d,columns=['A','B','C','D'])

In [77]:
df

                   A         B         C         D
2020-03-01  1.057841  0.581322 -2.652136  0.789745
2020-03-02  2.388585  0.712513 -0.526458 -0.598303
2020-03-03  0.255703  0.272091 -1.487287 -1.251196
2020-03-04  0.861002  2.359237  1.031204 -1.148671
2020-03-05  1.173327  0.206484  1.262719 -0.312043
2020-03-06  0.177635 -1.249593 -1.109099  0.086846
2020-03-07 -0.968944 -0.993657 -1.300919 -1.074467
2020-03-08  1.170813 -0.229027  1.913183 -0.448438
2020-03-09 -1.540047 -1.472621  0.988433  1.638094
2020-03-10 -0.398446 -1.615799  1.986318 -1.076758

In [78]:
df1 = pd.DataFrame({'A':[1,2,3,4],
                  'B':pd.Timestamp('20200301'),
                  'C':pd.Series(1,index=list(range(4)),dtype = "float32"),
                  'D' : np.array([5]*4,dtype = 'int32'),
                  'E' : pd.Categorical(['true','False','True','False']),
                  'F': 'Edureka'})

In [79]:
df

                   A         B         C         D
2020-03-01  1.057841  0.581322 -2.652136  0.789745
2020-03-02  2.388585  0.712513 -0.526458 -0.598303
2020-03-03  0.255703  0.272091 -1.487287 -1.251196
2020-03-04  0.861002  2.359237  1.031204 -1.148671
2020-03-05  1.173327  0.206484  1.262719 -0.312043
2020-03-06  0.177635 -1.249593 -1.109099  0.086846
2020-03-07 -0.968944 -0.993657 -1.300919 -1.074467
2020-03-08  1.170813 -0.229027  1.913183 -0.448438
2020-03-09 -1.540047 -1.472621  0.988433  1.638094
2020-03-10 -0.398446 -1.615799  1.986318 -1.076758

In [80]:
df

                   A         B         C         D
2020-03-01  1.057841  0.581322 -2.652136  0.789745
2020-03-02  2.388585  0.712513 -0.526458 -0.598303
2020-03-03  0.255703  0.272091 -1.487287 -1.251196
2020-03-04  0.861002  2.359237  1.031204 -1.148671
2020-03-05  1.173327  0.206484  1.262719 -0.312043
2020-03-06  0.177635 -1.249593 -1.109099  0.086846
2020-03-07 -0.968944 -0.993657 -1.300919 -1.074467
2020-03-08  1.170813 -0.229027  1.913183 -0.448438
2020-03-09 -1.540047 -1.472621  0.988433  1.638094
2020-03-10 -0.398446 -1.615799  1.986318 -1.076758

In [81]:
df.to_numpy()

array([[ 1.05784118,  0.58132249, -2.65213598,  0.78974511],
       [ 2.38858477,  0.71251342, -0.52645796, -0.59830263],
       [ 0.25570278,  0.27209067, -1.48728695, -1.25119615],
       [ 0.86100161,  2.3592367 ,  1.03120437, -1.14867066],
       [ 1.17332683,  0.206484  ,  1.26271875, -0.31204279],
       [ 0.17763514, -1.24959275, -1.10909865,  0.08684602],
       [-0.96894352, -0.99365672, -1.30091872, -1.07446674],
       [ 1.1708133 , -0.22902697,  1.91318322, -0.44843759],
       [-1.54004743, -1.47262147,  0.9884332 ,  1.63809351],
       [-0.3984464 , -1.61579868,  1.98631771, -1.07675772]])

In [82]:
df.describe()

               A          B          C          D
count  10.000000  10.000000  10.000000  10.000000
mean    0.417747  -0.142905   0.010596  -0.339519
std     1.161147   1.233998   1.622239   0.943817
min    -1.540047  -1.615799  -2.652136  -1.251196
25%    -0.254426  -1.185609  -1.252964  -1.076185
50%     0.558352  -0.011271   0.230988  -0.523370
75%     1.142570   0.504015   1.204840  -0.012876
max     2.388585   2.359237   1.986318   1.638094

In [83]:
df['C']

2020-03-01   -2.652136
2020-03-02   -0.526458
2020-03-03   -1.487287
2020-03-04    1.031204
2020-03-05    1.262719
2020-03-06   -1.109099
2020-03-07   -1.300919
2020-03-08    1.913183
2020-03-09    0.988433
2020-03-10    1.986318
Freq: D, Name: C, dtype: float64

In [84]:
df[0:3]

                   A         B         C         D
2020-03-01  1.057841  0.581322 -2.652136  0.789745
2020-03-02  2.388585  0.712513 -0.526458 -0.598303
2020-03-03  0.255703  0.272091 -1.487287 -1.251196

In [85]:
df.loc[d[0]]

A    1.057841
B    0.581322
C   -2.652136
D    0.789745
Name: 2020-03-01 00:00:00, dtype: float64

#Handling missing data

In [86]:
df2 = df.reindex(index=d[0:4],columns=list(df.columns) + ['E'])

In [87]:
df2.loc[d[0]:d[1],'E']=1

In [88]:
df2

                   A         B         C         D    E
2020-03-01  1.057841  0.581322 -2.652136  0.789745  1.0
2020-03-02  2.388585  0.712513 -0.526458 -0.598303  1.0
2020-03-03  0.255703  0.272091 -1.487287 -1.251196  NaN
2020-03-04  0.861002  2.359237  1.031204 -1.148671  NaN

In [89]:
df2.dropna()

                   A         B         C         D    E
2020-03-01  1.057841  0.581322 -2.652136  0.789745  1.0
2020-03-02  2.388585  0.712513 -0.526458 -0.598303  1.0

In [90]:
df2.fillna(value=2)

                   A         B         C         D    E
2020-03-01  1.057841  0.581322 -2.652136  0.789745  1.0
2020-03-02  2.388585  0.712513 -0.526458 -0.598303  1.0
2020-03-03  0.255703  0.272091 -1.487287 -1.251196  2.0
2020-03-04  0.861002  2.359237  1.031204 -1.148671  2.0

In [91]:
pd.isna(df2)

                A      B      C      D      E
2020-03-01  False  False  False  False  False
2020-03-02  False  False  False  False  False
2020-03-03  False  False  False  False   True
2020-03-04  False  False  False  False   True

#Different pandas opetarions

##Histogramming

In [92]:
df.mean(1)

2020-03-01   -0.055807
2020-03-02    0.494084
2020-03-03   -0.552672
2020-03-04    0.775693
2020-03-05    0.582622
2020-03-06   -0.523553
2020-03-07   -1.084496
2020-03-08    0.601633
2020-03-09   -0.096536
2020-03-10   -0.276171
Freq: D, dtype: float64

In [95]:
s = pd.Series([1,2,3,np.nan,4,5,6,7,8,9], index = d ).shift(2)

In [96]:
s

2020-03-01    NaN
2020-03-02    NaN
2020-03-03    1.0
2020-03-04    2.0
2020-03-05    3.0
2020-03-06    NaN
2020-03-07    4.0
2020-03-08    5.0
2020-03-09    6.0
2020-03-10    7.0
Freq: D, dtype: float64

In [97]:
df

                   A         B         C         D
2020-03-01  1.057841  0.581322 -2.652136  0.789745
2020-03-02  2.388585  0.712513 -0.526458 -0.598303
2020-03-03  0.255703  0.272091 -1.487287 -1.251196
2020-03-04  0.861002  2.359237  1.031204 -1.148671
2020-03-05  1.173327  0.206484  1.262719 -0.312043
2020-03-06  0.177635 -1.249593 -1.109099  0.086846
2020-03-07 -0.968944 -0.993657 -1.300919 -1.074467
2020-03-08  1.170813 -0.229027  1.913183 -0.448438
2020-03-09 -1.540047 -1.472621  0.988433  1.638094
2020-03-10 -0.398446 -1.615799  1.986318 -1.076758

In [98]:
df.apply(np.cumsum)

                   A         B         C         D
2020-03-01  1.057841  0.581322 -2.652136  0.789745
2020-03-02  3.446426  1.293836 -3.178594  0.191442
2020-03-03  3.702129  1.565927 -4.665881 -1.059754
2020-03-04  4.563130  3.925163 -3.634677 -2.208424
2020-03-05  5.736457  4.131647 -2.371958 -2.520467
2020-03-06  5.914092  2.882055 -3.481056 -2.433621
2020-03-07  4.945149  1.888398 -4.781975 -3.508088
2020-03-08  6.115962  1.659371 -2.868792 -3.956525
2020-03-09  4.575915  0.186749 -1.880359 -2.318432
2020-03-10  4.177468 -1.429049  0.105959 -3.395190

In [ ]:
df.apply(lambda x: x.max() - x.min())

1)rep of distribution of data
2)one histogram per column

In [99]:
s.value_counts()

1.0    1
2.0    1
3.0    1
4.0    1
5.0    1
6.0    1
7.0    1
dtype: int64

In [ ]:
s = pd.Series(['edureka','python','jupyter',np.nan,'fottbsall','world'])

In [100]:
s.str.upper()

AttributeError: ignored

##Merging

In [102]:
df = pd.DataFrame(np.random.randn(10,4))

In [ ]:
df2 = [df[0:3], df[0:7],df[7:]]

In [103]:
df2

                   A         B         C         D    E
2020-03-01  1.057841  0.581322 -2.652136  0.789745  1.0
2020-03-02  2.388585  0.712513 -0.526458 -0.598303  1.0
2020-03-03  0.255703  0.272091 -1.487287 -1.251196  NaN
2020-03-04  0.861002  2.359237  1.031204 -1.148671  NaN

In [105]:
pd.concat(df2)

TypeError: ignored

In [109]:
left = pd.DataFrame({'A':[1,2],'B':[3,4]})

In [115]:
right = pd.DataFrame({'A':[2,3],'D':[4,5]})

In [110]:
right

   C  D
0  2  4
1  3  5

In [111]:
left

   A  B
0  1  3
1  2  4

In [116]:
pd.merge(left,right,on='A')

   A  B  D
0  2  4  4

In [117]:
df.groupby('2').sum()

KeyError: ignored

In [118]:
df

          0         1         2         3
0  0.376435 -1.497626 -2.451757 -0.073758
1  0.580152  0.794303 -0.962833  2.599509
2  0.184838 -0.772796  1.791152  0.290461
3  0.889292  2.203434 -0.429265  0.287337
4  0.087644  1.111235 -0.953451  1.322808
5  0.992508 -1.235061 -0.145755 -1.038604
6 -0.489943 -0.607589  1.778672  1.302987
7  1.429303  0.845173 -2.472240  0.681986
8  0.223124 -1.347520 -0.507980 -0.360727
9  0.005055  1.365433  0.396447  1.077876